body, html{
    margin: 0%;
    padding: 0%;
}

.product-card{
    width: 300px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px 0 rgba(6, 6, 6, 0.5);
}

.product-card img {
    max-width: 100%;
    height: 160px; 
    margin-left: auto;
    margin-right: auto;
    object-fit: cover; 
    display: flex;
    justify-content: center;
}

.product-card h3 {
    margin-top: 10px;
    font-size: 16px;
    color: black;
    text-align: center;
}

.product-card p{
    color: black;
    margin-top: 5px;
    font-size: small;
}

.product-card div {
    color: black;
    font-weight: bold;

}

/* .product-card button{
    display: flex;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
} */

.but{
    display: flex;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: small;
    max-width: 100%;
}

.but:hover {
    cursor: pointer;
    background-color: #f0f0f0;
    color: black;
    border: 2px solid black;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.cartItems {
    display: flex;
    justify-content: space-between; 
    margin: 1%;
    margin-top: 20px;
    gap: 20px;
}

.cart {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 2; 
}

.priceDetails {
    background-color: #fff; 
    color: #000;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px 0 rgba(6, 6, 6, 0.5);
    flex: 1; 
    margin-top: 0; 
    height: 200px; 
}

.cart-card {
    display: flex;
    align-items: center;
    background-color: #fff; 
    color: #000; 
    /* border: 2px solid #555;  */
    width: 100%;
    max-width: 500px; 
    height: 140px;
    padding: 15px;
    gap: 15px;
    border-radius: 10px;
    gap: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px 0 rgba(6, 6, 6, 0.5);
}

.cart-card img {
    width: auto;
    height: 130px;
    object-fit: cover;
    border-radius: 5px;
}

.title {
    font-weight: bolder;
    color: #000; 
    margin-bottom: 10px;
}

.quantity {
    display: flex;
    align-items: center;
    gap: 10px;
}

.price {
    margin-top: 10px;
    font-weight: bold;
    color: #000; 
}

.priceDetails div {
    margin-bottom: 10px;
}

.priceDetails hr {
    border: 1px solid #555; 
}
