body, html{
    margin: 0%;
    padding: 0%;
}

.product-card{
    width: 300px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px 0 rgba(255, 215, 0, 0.5);
}

.product-card img {
    max-width: 100%;
    height: 160px; 
    margin-left: auto;
    margin-right: auto;
    object-fit: cover; 
    display: flex;
    justify-content: center;
}

.product-card h3 {
    margin-top: 10px;
    font-size: 16px;
    color: black;
    text-align: center;
}

.product-card p{
    color: black;
    margin-top: 5px;
    font-size: small;
}

.product-card div {
    color: black;
    font-weight: bold;

}

/* .product-card button{
    display: flex;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
} */

.but{
    display: flex;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: small;
    max-width: 100%;
}

.but:hover {
    cursor: pointer;
    background-color: #f0f0f0;
    color: black;
    border: 2px solid black;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart {
    margin-top:200px;
    margin: 1%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart-card {
    display: flex;
    align-items: center;
    background-color: #fff;
    color: black;
    border: 5px solid black;
    width: 150%;
    height: 100px;
    padding: 10px;
    gap: 10px;
}

.cart-card img {
    width: 12%;
    height: 80px;
    margin-right: 10px;
    object-fit: cover;
    margin-right: 10%;
    margin-left: 5%;
}

.title {
    font-weight: bolder;
    margin-bottom: 10px;
}

.price {
    margin-top: 10px;
    font-weight: bold;
}

.cartItems {
    display: flex;
    gap: 40%
}

.priceDetails{
    background-color: #fff;
    color: black;
    padding: 1%;
    border-radius:5% ;
    margin-top: 20%;
    height: 200px;
}